html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Tienne', serif;
  font-weight: 700;
  font-size: 20px;
  background-color: #3d4547;
  color: #fff; }

.cls-1 {
  fill: #c4b61b;
  fill-rule: evenodd; }

.cls-2 {
  fill: #c7202a;
  fill-rule: evenodd; }

@media (max-width: 1024px) {
  body {
    font-size: 16px; } }
@media (max-width: 500px) {
  body {
    font-size: 12px; } }
a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    color: inherit; }
  a:visited {
    color: inherit;
    text-decoration: none; }
  a[href='*']:hover {
    text-decoration: underline;
    color: inherit; }
  a[href='*']:visited {
    color: inherit;
    text-decoration: none; }

header {
  position: fixed;
  z-index: 100;
  background-color: #3d4547;
  width: 100%;
  line-height: 1em;
  padding: .6em .6em .4em .6em; }
  header.home-active {
    background-color: #3d4547; }
  header.expertise-active {
    background-color: #313839; }
  header.about-active {
    background-color: #495255; }
  header.clients-active {
    background-color: #313839; }
  header.contact-active {
    background-color: #495255; }
  header nav {
    margin-left: 6.3em;
    text-align: right; }
    header nav ul {
      display: inline-block;
      padding: 0;
      margin: 0; }
      header nav ul li {
        display: inline-block;
        list-style: none;
        float: left;
        padding: 4px 10px;
        color: #fff; }

.logo {
  margin-left: .3em;
  float: left;
  width: 6em;
  height: 1.5em;
  display: inline-block;
  background: url("../src/img/logo.png");
  background-repeat: no-repeat;
  background-size: contain; }

#expertiseCarousel {
  display: none; }

#expertiseCards {
  font-size: 0; }

.exp-tile {
  font-size: 1rem;
  cursor: pointer;
  background-color: #3d4547;
  margin: 5px;
  height: 200px;
  position: relative;
  width: 32%;
  display: inline-block; }
  .exp-tile h2 {
    position: relative;
    top: 50%;
    text-align: center;
    font-size: 1.6em;
    padding: 10px; }

h1 {
  font-size: 3em;
  font-family: Lato, "Helvetica Neue", sans-serif;
  font-weight: 200;
  color: #c7202a;
  text-transform: uppercase;
  background-color: #495255;
  padding: .2em .3em .3em .3em;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 1.2em;
  border-top: 4px solid #868484;
  border-bottom-left-radius: .3em;
  border-bottom-right-radius: .3em; }
  h1 a {
    display: inline-block; }

h2 {
  font-size: 2.4em;
  font-family: Lato, "Helvetica Neue", sans-serif;
  font-weight: 300;
  color: #c4b61b;
  margin-bottom: .6em; }

.exp-icon {
  width: 2.2em;
  height: 2.2em;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-110%);
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  /*    &.consultancy {
        background: url("../img/consulting.svg");
        background-size: contain;
        background-repeat: no-repeat;
      }*/
  /*    &.websites {
        background: url("../img/website.svg");
        background-size: contain;
        background-repeat: no-repeat;
      }

      &.database {
        background: url("../img/database.svg");
        background-size: contain;
        background-repeat: no-repeat;
      }

      &.search {
        background: url("../img/search.svg");
        background-size: contain;
        background-repeat: no-repeat;
      }

      &.apis {
        background: url("../img/api.svg");
        background-size: contain;
        background-repeat: no-repeat;
      }

      &.cloud {
        background: url("../img/cloud.svg");
        background-size: contain;
        background-repeat: no-repeat;
      }*/ }

section {
  height: 100%;
  padding-top: 2.6em;
  font-size: 1em; }
  section#expertise {
    background-color: #313839; }
  section article {
    margin: 0 auto;
    width: 30em;
    height: 24em;
    position: relative; }
    section article .exp-icon {
      left: -3em;
      top: .2em; }
    section article p {
      line-height: 1.4em; }
  section .carousel {
    margin: 1em auto;
    max-width: 1024px; }
  section .carousel-control-border {
    border-radius: .5em;
    width: 5em;
    height: 5em;
    line-height: 5em;
    vertical-align: middle; }
  section .carousel-control:hover .carousel-control-border {
    background-color: #3d4547; }

/*# sourceMappingURL=expertise.css.map */
