/* Please do not use this import in production. You could download this font from here https://fontstorage.com/font/quicksand */
@import "http://fonts.fontstorage.com/import/quicksand.css";
/*
	Quicksand, 300, 300 italic, 400, 400 italic, 700, 700 italic
*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Tienne', serif;
  font-weight: 700; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    color: inherit; }
  a:visited {
    color: inherit;
    text-decoration: none; }
  a[href='*']:hover {
    text-decoration: underline;
    color: inherit; }
  a[href='*']:visited {
    color: inherit;
    text-decoration: none; }

h2 {
  font-family: Lato, "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 1.2rem; }

.centered-container {
  margin: 0 auto;
  display: block;
  width: 350px; }

body {
  background-color: #3d4547; }
  body section {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    padding: 50px;
    color: #fff; }
    body section#home {
      background-color: #3d4547; }
    body section#expertise {
      background-color: #313839; }
    body section#about {
      background-color: #495255; }
    body section#clients {
      background-color: #313839; }
    body section#contact {
      background-color: #495255; }
    body section#home h1 {
      background-color: #3d4547; }
    body section#expertise h1 {
      background-color: #313839; }
    body section#about h1 {
      background-color: #495255; }
    body section#clients h1 {
      background-color: #313839; }
    body section#contact h1 {
      background-color: #495255; }
    body section .hero {
      margin: 50px auto;
      display: block;
      width: 80%; }
      body section .hero h1 {
        font-family: Lato, "Helvetica Neue", sans-serif;
        font-weight: 300;
        text-align: center;
        margin-bottom: 50px; }
    body section h1 {
      font-family: Lato, "Helvetica Neue", sans-serif;
      font-weight: 300;
      color: #c7202a;
      font-size: 3.5rem;
      margin-bottom: 100px;
      z-index: 1000; }
    body section.expertise h2 {
      color: #c7202a; }
    body section article {
      overflow-y: auto;
      margin: 0 50px;
      columns: 2; }
      body section article .exp-cell {
        margin-bottom: 50px; }
      body section article .exp-icon {
        width: 30px;
        height: 30px;
        float: left;
        background: url("../img/cog.png");
        background-size: contain;
        background-repeat: no-repeat; }
      body section article .article-content {
        margin-left: 40px; }
      body section article h2 {
        font-size: 30px; }

.cog {
  fill: #9cb1b6;
  fill-rule: evenodd; }

svg .cog-big {
  transform-origin: 50% 50%;
  animation: spin 10s linear infinite;
  animation-delay: 0.8s; }

svg .cog-red {
  transform-origin: 207.352px 357.835px;
  animation: spin-reverse 10s linear infinite;
  animation-delay: 0.8s; }

svg .cog-yellow {
  transform-origin: 393.785px 409.5px;
  animation: spin 10s linear infinite;
  animation-delay: 0.8s; }

@keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes spin-reverse {
  100% {
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); } }
.bottom-trigger {
  position: absolute;
  top: 30%; }

header {
  position: fixed;
  z-index: 10000;
  background-color: #3d4547;
  width: 100%;
  line-height: 10px;
  padding: 10px; }
  header.home-active {
    background-color: #3d4547; }
  header.expertise-active {
    background-color: #313839; }
  header.about-active {
    background-color: #495255; }
  header.clients-active {
    background-color: #313839; }
  header.contact-active {
    background-color: #495255; }
  header nav {
    margin-left: 120px;
    text-align: right; }
    header nav ul {
      display: inline-block;
      padding: 0;
      margin: 0; }
      header nav ul li {
        display: inline-block;
        list-style: none;
        float: left;
        padding: 4px 10px;
        color: #fff; }

.logo {
  float: left;
  width: 120px;
  height: 30px;
  display: inline-block;
  background: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: contain; }

/*# sourceMappingURL=site.css.map */
