$primaryBg: #3d4547;
$secondaryBg: #9cb1b6;
$primaryText: #c7202a;
$hightLight: #c4b61b;
$secondaryHightLight: #b6ced4;
/* Please do not use this import in production. You could download this font from here https://fontstorage.com/font/quicksand */
@import "http://fonts.fontstorage.com/import/quicksand.css";
/*
	Quicksand, 300, 300 italic, 400, 400 italic, 700, 700 italic
*/

html, body {

  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Tienne', serif;
  font-weight: 700;

}



a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: inherit;
  }

  &:visited {
    color: inherit;
    text-decoration: none;
  }

  &[href='*'] {
    &:hover {
      text-decoration: underline;
      color: inherit;
    }

    &:visited {
      color: inherit;
      text-decoration: none;
    }

  }

}

h2 {
  font-family: Lato, "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}

.centered-container {
  margin: 0 auto;
  display: block;
  width: 350px;
}

body {
  background-color: $primaryBg;

  section {

    &#home { background-color: $primaryBg; }
    &#expertise { background-color: darken($primaryBg, 5%); }
    &#about { background-color: lighten($primaryBg, 5%); }
    &#clients { background-color:  darken($primaryBg, 5%); }
    &#contact { background-color:  lighten($primaryBg, 5%); }

    &#home h1 { background-color: $primaryBg; }
    &#expertise h1 { background-color: darken($primaryBg, 5%); }
    &#about h1 { background-color: lighten($primaryBg, 5%); }
    &#clients h1 { background-color:  darken($primaryBg, 5%); }
    &#contact h1  { background-color:  lighten($primaryBg, 5%); }

    .hero {
      margin: 50px auto;
      display: block;
      width: 80%;
      h1 {
        font-family: Lato, "Helvetica Neue", sans-serif;
        font-weight: 300;
        text-align: center;
        margin-bottom: 50px;
      }

    }

    //min-height: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    padding: 50px;
    color: #fff;

    h1 {
      font-family: Lato, "Helvetica Neue", sans-serif;
      font-weight: 300;
      color: $primaryText;
      font-size: 3.5rem;
      margin-bottom: 100px;
      z-index: 1000;
    }

    &.expertise {
      h2 {
        color: $primaryText;
      }

    }

    article {

      overflow-y: auto;

      margin: 0 50px;

      .exp-cell {
        margin-bottom: 50px;
      }

      .exp-icon {
        width: 30px;
        height: 30px;
        float: left;
        background: url("../img/cog.png");
        background-size: contain;
        background-repeat: no-repeat;
      }

      .article-content {
        margin-left: 40px;

      }

      columns: 2;

      h2 {
        font-size: 30px;
      }

      p {

      }

    }

  }

}

.cog {
  fill: $secondaryBg;
  fill-rule: evenodd;
}

svg .cog-big {
  transform-origin: 50% 50%;
  animation: spin 10s linear infinite;
  animation-delay: 0.8s;
}

svg .cog-red {
  transform-origin: 207.352px 357.835px;
  animation: spin-reverse 10s linear infinite;
  animation-delay: 0.8s;
}

svg .cog-yellow {
  transform-origin: 393.785px 409.5px;
  animation: spin 10s linear infinite;
  animation-delay: 0.8s;
}

@keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  100% {
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.bottom-trigger {
  position: absolute;
  top: 30%;
  //display: none;
}

.home, .about {
  //background-color: seagreen;
}

.expertise {
  //background-color: lightblue;
}

header {

  &.home-active { background-color: $primaryBg; }
  &.expertise-active { background-color: darken($primaryBg, 5%); }
  &.about-active { background-color: lighten($primaryBg, 5%); }
  &.clients-active { background-color:  darken($primaryBg, 5%); }
  &.contact-active { background-color:  lighten($primaryBg, 5%); }


  position: fixed;
  z-index: 10000;
  background-color: $primaryBg;
  width: 100%;
  line-height: 10px;

  padding: 10px;

  nav {
    margin-left: 120px;
    text-align: right;

    ul {
      display: inline-block;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        list-style: none;
        float: left;
        padding: 4px 10px;
        color: #fff;
      }
    }
  }
}

.logo {
  float: left;
  width: 120px;
  height: 30px;
  display: inline-block;
  background: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: contain;

}