@import "../helpers/variables";

.scrollmagic-pin-spacer {
  background-color: inherit;
}

body {
  &.home-active {

    background-color: $primaryBg;
    header {
      background-color: $primaryBg;
    }

  }
  &.expertise-active {
    background-color: darken($primaryBg, 5%);

    header {
      background-color: darken($primaryBg, 5%);
    }
  }
  &.about-active {
    background-color: $secondaryBg; //lighten($primaryBg, 5%);

    header {
      background-color: $secondaryBg; //lighten($primaryBg, 5%);
    }

  }
  &.clients-active {
    background-color:  darken($primaryBg, 5%);

    header {
      background-color: darken($primaryBg, 5%);
    }

  }
  &.contact-active {
    background-color:  $secondaryBg; //lighten($primaryBg, 5%);

    header {
      background-color: $secondaryBg; //lighten($primaryBg, 5%);
    }

  }

}

header {

  min-height: 44px;
  height: 2.4rem;

  .logo {
    margin-left: .3em;
    float: left;
    height: 1.6rem;
    width: 6rem;
    display: inline-block;
    background: url("../img/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  position: fixed;
  z-index: 100;
  background-color: $primaryBg;
  width: 100%;
  line-height: 1em;

  padding: .6em .6em .4em .6em;

  .container {
    padding: 0;
  }

  nav.wide {
    margin-left: 6.3em;
    text-align: right;

    ul {
      display: inline-block;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        list-style: none;
        float: left;
        padding: 4px 10px;
        color: #fff;
      }
    }
  }

}

section.slide-for-menu {
  margin-left: -200px !important;
}

nav.narrow {

  &.show {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;
  }

  display: none;
  background-color: darken($primaryBg, 10%);
  padding: 20px;
  margin-top: 40px;
  border-top-left-radius: 20px;
  height: 100%;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      list-style: none;
      font-size: 1.6em;
      margin: 5px;
      color: #fff;

      a {
        &:hover {
          color: $highLight;
        }

        &.selected {
          color: $highLight;
        }
      }


    }

  }
}

#menuButton {
  display: inline-block;
  cursor: pointer;

  .bar1, .bar2, .bar3 {
    width: 28px;
    height: 4px;
    background-color: darken($highLight, 20%);
    margin: 4px 0;
    transition: 0.4s;
  }

  &.change {

    .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-5px, 5px);
    }

    .bar2 {
      opacity: 0;
    }

    .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
      transform: rotate(45deg) translate(-6px, -6px) ;
    }
  }

}
