$primaryBg: #3d4547;
$secondaryBg: #9cb1b6;
$primaryText: #c7202a;
$highLight: #c4b61b;
$secondaryHighLight: #b6ced4;

html, body {

  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Tienne', serif;
  font-weight: 700;
  font-size: 20px;
  background-color: $primaryBg;
  color: #fff;

}

main {
  background-color: darken($primaryBg, 5%);
  height: 100%;
}

.cls-1 {
  fill: $highLight;
  fill-rule: evenodd;
}


.cls-2 {
  fill: $primaryText;
  fill-rule: evenodd;
}

@media (max-width: 1024px) {
  body { font-size: 16px; }
}
@media (max-width: 500px) {
  body { font-size: 11px; }
}



a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: inherit;
  }

  &:visited {
    color: inherit;
    text-decoration: none;
  }

  &[href='*'] {
    &:hover {
      text-decoration: underline;
      color: inherit;
    }

    &:visited {
      color: inherit;
      text-decoration: none;
    }

  }

}

header {

  &.home-active { background-color: $primaryBg; }
  &.expertise-active { background-color: darken($primaryBg, 5%); }
  &.about-active { background-color: lighten($primaryBg, 5%); }
  &.clients-active { background-color:  darken($primaryBg, 5%); }
  &.contact-active { background-color:  lighten($primaryBg, 5%); }


  position: fixed;
  z-index: 100;
  background-color: $primaryBg;
  width: 100%;
  line-height: 1em;

  padding: .6em .6em .4em .6em;

  .container {
    padding: 0;
  }

  nav.wide {
    margin-left: 6.3em;
    text-align: right;

    ul {
      display: inline-block;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        list-style: none;
        float: left;
        padding: 4px 10px;
        color: #fff;
      }
    }
  }


}

nav.narrow {

  display: none;
  background-color: black;
  padding: 20px;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      list-style: none;
      font-size: 1.6em;
      margin: 5px;
      color: #fff;

      a {
        &:hover {
          color: $highLight;
        }

        &.selected {
          color: $highLight;
        }
      }


    }

  }
}

.logo {
  margin-left: .3em;
  float: left;
  width: 6em;
  height: 1.5em;
  display: inline-block;
  background: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: contain;

}

.card-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.card-row {
  flex: 1;
}

#expertiseCarousel{
 display: none;
  position: absolute;
  top: 0;
}

#expertiseCards {
  position: absolute;
  top: 0;
  margin:  auto;
}

.exp-tile {
  font-size: 1em;
  cursor: pointer;
  //height: 200px;
  padding: 5px;
  //border: 1px solid red;

  .exp-tile-background {
    background-color: $primaryBg;
    height: 100%;
    padding: 20px 0;
    //border: 1px solid blue;
  }

  .exp-tile-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    overflow: hidden;
  }

  h2 {
    position: relative;
    //top: 50%;
    //transform: translateY(10%);
    text-align: center;
    font-size: 1.4em;
    padding: 10px;
  }
}

h1 {
  font-size: 3em;
  font-family: Lato, "Helvetica Neue", sans-serif;
  font-weight: 200;
  color: $primaryText;
  text-transform: uppercase;
  background-color: lighten($primaryBg, 5%);
  padding: .2em .3em .3em .3em;
  margin-left: -15px;
  margin-right: -15px;
  //margin-bottom: 1.2em;
  border-top: 4px solid #868484;
  border-bottom-left-radius: .3em;
  border-bottom-right-radius: .3em;

  a {
    display: inline-block;

  }
}

h2 {
  //text-transform: lowercase;
  //text-align: center;
  font-size: 2.4em;
  font-family: Lato, "Helvetica Neue", sans-serif;
  font-weight: 300;
  color: $highLight;
  margin-bottom: .6em;
}

.exp-icon {
  width: 2.2em;
  height: 2.2em;
  left: 50%;
  //top: 50%;
  transform: translateX(-50%); //
  // translateY(-110%);

  position: relative;
  // background: url("../img/cog.png");
  background-size: contain;
  background-repeat: no-repeat;


  /*    &.consultancy {
        background: url("../img/consulting.svg");
        background-size: contain;
        background-repeat: no-repeat;
      }*/

  /*    &.websites {
        background: url("../img/website.svg");
        background-size: contain;
        background-repeat: no-repeat;
      }

      &.database {
        background: url("../img/database.svg");
        background-size: contain;
        background-repeat: no-repeat;
      }

      &.search {
        background: url("../img/search.svg");
        background-size: contain;
        background-repeat: no-repeat;
      }

      &.apis {
        background: url("../img/api.svg");
        background-size: contain;
        background-repeat: no-repeat;
      }

      &.cloud {
        background: url("../img/cloud.svg");
        background-size: contain;
        background-repeat: no-repeat;
      }*/
}

section {

  &#expertise {
    background-color: darken($primaryBg, 5%);

  }
  //&#expertise h1 { background-color: darken($primaryBg, 5%); }

  height: 100%;
  padding-top: 2.6em;

  font-size: 1em;




  article {
    margin: 0 auto;
    width: 30em;
    height: 24em;
    position: relative;

    .exp-icon {
      left: -3em;
      top: .2em;

    }


    p {
      line-height: 1.4em;
    }
  }

  .carousel {
    margin: 1em auto;
    max-width: 1024px;
  }


  .carousel-control-border {
    border-radius: .5em;
    width: 5em;
    height: 5em;
    line-height: 5em;
    vertical-align: middle;
  }

  .carousel-control:hover {

    .carousel-control-border{
      background-color: $primaryBg;
    }


  }

}


.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 200px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
  left:auto;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: $primaryBg; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

#menuButton {
  display: inline-block;
  cursor: pointer;

  .bar1, .bar2, .bar3 {
    width: 28px;
    height: 4px;
    background-color: darken($highLight, 20%);
    margin: 4px 0;
    transition: 0.4s;
  }

  &.change {

    .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-5px, 5px);
    }

    .bar2 {
      opacity: 0;
    }

    .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
      transform: rotate(45deg) translate(-6px, -6px) ;
    }
  }

}

